extends ./common/layout

block content
  section.content
    div.row
      div.col-xs-12
        div.callout.callout-danger
          h2 
            i.icon.fa.fa-ban
            |  #{error.status} - #{title}
          pre #{error.stack}
