extends layout

block content
  div.markdown-body
    !{html}
  div.fix-menu
    div.title 文档目录
      i.fa.fa-list-ul.pull-right
    ul.clearfix
      if menu.length > 0  
        each item in menu
          li 
            a(href="javascript:;",data-href="#menu-#{$index}",name="menu") 
              i.fa.fa-tag 
              | #{item}
      else
        li
          a(href="javascript:;")
            i.fa.fa-circle-o 
            | 暂无目录
