extends layout

block content
  div
    !{html}
  div.fix-menu
    div.title 文档目录
      i.fa.fa-list-ul.pull-right
    ul.clearfix
      each item in menu
        li 
          a(href="javascript:;",data-href="#menu-#{$index}",name="menu") 
            i.fa.fa-circle-o 
            | #{item}
