extends layout

block content
  section.content
    div.row
      div.col-xs-12
        each item in bookList
          div.callout.callout-default
            h4 
              a(href='#{item.url}') #{item.name}
            ol.breadcrumb
              li
                a(href='/')
                  i.fa.fa-dashboard 
                  |  主页      
              each item2 in item.map
                li.active #{item2}
        if bookList.length <= 0
          div.callout.callout-info
            h4
              i.icon.fa.fa-info 
              |  抱歉
            p 我们未能检索到您需要的文档，请输入文件关键词后尝试
