extends ./common/common

block layout
  body.login-page
    .login-box
      .login-logo
        a(href='/')
          b WIKI
          | 用户中心
      .login-box-body
        p.login-box-msg 请输入帐号密码登陆
        form#login
          .form-group.has-feedback
            input.form-control(type='email',name='email',placeholder='邮箱')
            span.glyphicon.glyphicon-user.form-control-feedback
          .form-group.has-feedback
            input.form-control(type='password',name='password',placeholder='密码')
            span.glyphicon.glyphicon-lock.form-control-feedback
          .form-group.has-feedback#tip
          .form-group.has-feedback
            button.btn.btn-primary.btn-block.btn-flat(type='button',name='submit')  登 陆
          .row
            .col-xs-12
              a(href='/users/register').pull-right
               i.glyphicon.glyphicon-retweet
               |  注册帐号
  script.
    var reUrl = '!{reUrl}';
