body{
  margin: 0;
  padding: 0;
}
svg{
  max-width: 48em;
}
pre{
  color: #999;
  .ace-github{
    background: #f7f7f7;
  }
}
.fa-plus-square-o{
  position: relative;
  top:1px;
}
.callout-default{
  background-color: #fff;
  .breadcrumb{
    background: #fff;
    margin: 0;
    padding: 0;
  }
  a{
    color:#333;
    text-decoration: none;
    &:hover{
      color:#666;
    }
  }
}
.callout-danger{
  h2{
    margin-top: 0;
    margin-bottom: 20px;
  }
  pre{
    background: #9D4136;
    color: #fff;
    border-color: #C23321
  }
}
.tools-bar{
  margin: 20px 0 0 0;
  h4{
    border-bottom: 1px dashed #A6EAFB;
    padding-bottom: 10px;
  }
  a{
    text-decoration: none;
    margin-right: 20px;
    line-height: 30px;
  }
}
.box.box-default {
  padding: 2em;
}
.sidebar-menu .treeview-menu > li > a {
  padding-right: 28px;
  display:block;
  word-break:keep-all;
  white-space:nowrap;
  overflow:hidden;
  text-overflow:ellipsis;
}
.fix-menu{
  position: absolute;
  top: 100px;
  right:16px;
  width: 250px;
  height: auto;
  background: #2c3b41;
  .title{
    background: #1e282c;
    border-left:3px solid #3c8dbc;
    color:#fff;
    padding: 12px 15px;
    cursor: pointer;
    i{
      position: relative;
      top: 4px;
    }
  }
  ul{
    padding:10px 0;
    margin: 0;
    height: auto;
    overflow-y: auto;
  }
  li{
    padding:0 15px 0 15px;
    line-height: 20px;
    margin-bottom: 10px;
    list-style: none;
    a{
      color:#fff;
      display: inline-block;
    }
    i{
      margin-right: 10px;
    }
  }
}
.app-only {
  display: none;
}
.guest-only {
  display: none;
}
.ui-layout-pane {
  border-width: 0;
  padding: 0;
  margin: 0;
}
.ui-layout-north {
  background-color: #eeeeee;
}

#editor {
  position: absolute;
  width: 100%;
  height: 100%;
}
#toolbar{
  padding-left: 16px;
  color: #666666;
  .fa {
    padding: 2px;
    border: 1px solid transparent;
    &:hover{
      background-color: #dddddd;
      border-color: #cccccc;
      cursor: pointer;
    }
  }
  .icon {
    padding: 0 2px;
    border: 1px solid transparent;
    &:hover{
      background-color: #dddddd;
      border-color: #cccccc;
      cursor: pointer;
    }
  }
  .ar {
    font-size: 14px;
    padding: 2px;
    border: 1px solid transparent;
    &:hover{
      background-color: #dddddd;
      border-color: #cccccc;
      cursor: pointer;
    }
  }
}
.ui-layout-toggler {
  background-color: #cccccc;
}
.ui-layout-toggler{
  &:hover{
    background-color: #add8e6;
  }
}
.heading-icon {
  font-weight: bold;
}
i.dividor {
  font-style: normal;
  color: #dddddd;
  margin: 0 6px;
}
.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
/* source code highlight */

.markdown-body{
  padding: 2em;
  margin: 0 auto;
  .ace-github {
    background-color: #f7f7f7 !important;
    .ace_static_highlight {
      font-size: 13.6px !important;
      font-family: Consolas, 'Liberation Mono', Menlo, Courier, monospace !important;
    }
    .ace_gutter {
      color: rgba(0,0,0,0.3) !important;
      margin-right: 16px !important;
      background-color: #f7f7f7 !important;
    }
    .ace_keyword,
    .ace_modifier {
      color: #a71d5d !important;
      font-weight: normal !important;
    }
    .ace_string {
      color: #183691 !important;
    }
    .ace_tag-name,
    .ace_constant {
      color: #63a35c !important;
    }
    .ace_attribute-name,
    .ace_variable {
      color: #795da3 !important;
    }
    .ace_comment {
      color: #969896 !important;
      font-style: normal !important;
    }
    .ace_numeric,
    .ace_type {
      color: #0086b3 !important;
    }
  }
}
.remodal-overlay {
  background: rgba(33, 36, 46, 0.6) !important;
}
div.mermaid {
  text-align: center;
}
.box-body.markdown-body{
  padding: 0;
}
.edit-head{
  height: 46px;
  overflow: hidden;
  h3{
    margin: 0;
    padding: 10px 15px;
    float: left;
    i{
      margin-right: 10px;
    }
  }
  .close{
    float: right;
    color: #333;
    font-size: 20px;
    position: relative;
    top: 10px;
    right: 10px;
    -webkit-transition: all 0.3s;
       -moz-transition: all 0.3s;
        -ms-transition: all 0.3s;
         -o-transition: all 0.3s;
            transition: all 0.3s;
    &:hover{
      -webkit-transform:rotate(90deg);
         -moz-transform:rotate(90deg);
          -ms-transform:rotate(90deg);
           -o-transform:rotate(90deg);
              transform:rotate(90deg);
    }
  }
}
.edit-foot{
  padding: 0;
  margin: 0;
  width: 100%;
  height: 50px;
  background-color: #eee;
  li{
    float: left;
    padding: 8px 0;
    list-style: none;
    &.f-r{
      float: right;
    }
    p{
      display: none;
      line-height: 34px;
      margin: 0;
      padding-left: 10px;
      &.success{
        color: #00a65a;
      }
      &.error{
        color: #dd4b39
      }
    }
    a{
      display: inline-block;
      padding: 6px 12px;
      margin-bottom: 0;
      font-size: 14px;
      font-weight: 400;
      line-height: 1.42857143;
      text-align: center;
      white-space: nowrap;
      vertical-align: middle;
      -ms-touch-action: manipulation;
      touch-action: manipulation;
      cursor: pointer;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      background-image: none;
      border: 1px solid transparent;
      border-radius: 4px;
      margin: 0 5px;
      text-decoration: none;
      &.ok{
        color: #fff;
        background-color: #337ab7;
        border-color: #2e6da4;
        &:hover{
          color: #fff;
          background-color: #286090;
          border-color: #204d74;
        }
        i{
          margin-right: 10px;
          display: none;
        }
        &.load{
          i{
            display: inline-block;
          }
        }
      }
      &.close{
        color: #333;
        background-color: #f4f4f4;
        border-color: #ccc;
        &:hover{
          color: #333;
          background-color: #e6e6e6;
          border-color: #adadad;
        }
      }
    }
  }
}
.add-box{
  padding: 20px;
  border:1px solid #e5e5e5;
  background-color: #fff;
  border-radius: 5px;
  .input-group{
    margin-bottom: 10px;
  }
  h3{
    margin-top: 0;
    padding-bottom: 10px;
    border-bottom: 1px solid #e5e5e5;
    i{
      margin-right: 10px;
    }
    .btn-close{
      float: right;
      color: #333;
      font-size: 20px;
      position: relative;
      top: 5px;
      right: 0;
      -webkit-transition: all 0.3s;
         -moz-transition: all 0.3s;
          -ms-transition: all 0.3s;
           -o-transition: all 0.3s;
              transition: all 0.3s;
      &:hover{
        -webkit-transform:rotate(90deg);
           -moz-transform:rotate(90deg);
            -ms-transform:rotate(90deg);
             -o-transform:rotate(90deg);
                transform:rotate(90deg);
      }
      i{
        margin: 0;
      }
    }
  }
  .foot{
    text-align: center;
    margin:0;
    .btn{
      display: inline;
      margin:0 8px;
    }
  }
}
/*************************/
/* below is for printing */
/*************************/

@media print {
  .ui-layout-pane-north,
  .ui-layout-pane-center .ui-layout-resizer,
  .ui-layout-toggler {
    display: none !important;
  }
  table, pre, blockquote, div.mermaid {
    page-break-inside: avoid;
  }
  .markdown-body { /* 打印不需要 scroll past end， 省纸 */
    padding-bottom: 0 !important;
  }
}
